<div class="relative overflow-x-auto">
  <h1 class="text-orange-900 text-5xl">Spotify Pocast列表</h1>
    <table class="w-full border-seprate border-spacing-2 border text-2xl text-center rtl:text-right text-yellow-500">
        <div class="flex justify-end">
            <%= link_to '到Apple頁', apples_path, class: 'bg-white hover:bg-blue-700 border-2 border-gray-500 p-4 rounded' %>
        </div>
        <thead class="text-red-700 uppercase bg-yellow-100 dark:bg-black">
            <tr>
                <th scope="col" class="px-6 py-3">
         編號           
                </th>
                <th scope="col" class="px-6 py-3">
                    節目
                </th>
                <th scope="col" class="px-6 py-3">
                    備註
                </th>
                <th>
                    <%= button_to '新增', new_spotify_path, method: :get, class: "w-full p-6 bg-blue-200 hover:bg-white" %>
                </th>
                
            </tr>
        </thead>
        <tbody>
        <% if @spotifys.present? %>  
          <% @spotifys.each_with_index do |spotify, index| %>
            <tr class="border-b text-left">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  <%= spotify.title %>
                </th>
                <td class="px-6 py-4 border text-blue-500">
                    <%= link_to spotify.name, spotify.external_link, target: '_blank' %>
                </td>
                <td class="px-6 py-4 text-blue-700">
                    <%= spotify.description %>
                </td>
                <td class="flex items-center mt-2 p-4">
                    <%= link_to '修改', edit_spotify_path(spotify), class: 'bg-black p-2 mr-2' %>
                    <%= button_to '刪除', spotify_path(spotify), method: "delete", class: 'p-2 bg-black', onclick: "return confirm('確定要刪除嗎?');" %>
                </td>
                <% end %>
            </tr>
        <% else %>
            <p>No podacst</p>
          <% end %>  
        </tbody>
    </table>
</div>

