
<%= form_with(model: @apple, local: true) do |form| %>

<h1 class="text-2xl mb-4">修改 Podcast</h1>

<div class="container w-full">
  <div class="mb-4">
    <%= form.label :title, '編號', class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.number_field :title, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :name, '節目', class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>
  
  <div class="mb-4">
    <%= form.label :custom_url, '節目連結', class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field  :custom_url, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>
  
  <div class="mb-6">
    <%= form.label :description, '備註', class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_area :description, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="flex items-center justify-between">
    <%= form.submit '更新Podcast', class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      <%= link_to '上一頁', apples_path , class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"%>
  </div>
</div>
<% end %>
