<div class="relative overflow-x-auto">
  <h1 class="text-orange-900 text-5xl">Apple Pocast列表</h1>
  <div class="flex justify-end">
            <%= link_to '到Spotify頁', spotifys_path, class: 'bg-white hover:bg-blue-700 border-2 border-gray-500 p-4 rounded' %>
  </div>
    <table class="w-full border-seprate border-spacing-2 border text-2xl text-center rtl:text-right text-yellow-500">
        <thead class="text-red-700 uppercase bg-yellow-100 dark:bg-black">
            <tr>
                <th scope="col" class="px-6 py-3">
                    編號            
                </th>
                <th scope="col" class="px-6 py-3">
                    節目
                </th>
                <th scope="col" class="px-6 py-3">
                    備註
                </th>
                <th>
                    <%= button_to '新增', new_apple_path, method: :get, class: "w-full p-6 bg-blue-200 hover:bg-white" %>
                </th>
                
            </tr>
        </thead>
        <tbody>
        <% if @apples.present? %>  
          <% @apples.each_with_index do |apple, index| %>
            <tr class="border-b text-left">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  <%= apple.title %>
                </th>
                <td class="px-6 py-4 border text-blue-500">
                    <%= link_to apple.name, apple.external_link, target: '_blank' %>
                </td>
                <td class="px-6 py-4 text-blue-700">
                    <%= apple.description %>
                </td>
                <td class="flex items-center mt-2 p-4">
                    <%= link_to '修改', edit_apple_path(apple), class: 'bg-black p-2 mr-2' %>
                    <%= button_to '刪除', apple_path(apple), method: "delete", class: 'bg-black p-2', onclick: "return confirm('確定要刪除嗎?');" %>
                </td>
                <% end %>
            </tr>
        <% else %>
            <p>No podacst</p>
          <% end %>  
        </tbody>
    </table>
</div>

