
<div class="relative overflow-x-auto">
  <h1 class="text-orange-900 text-5xl">Pocast列表</h1>
    <table class="w-full border-seprate border-spacing-2 border text-2xl text-center rtl:text-right text-yellow-500">
        <thead class="text-red-700 uppercase bg-yellow-100 dark:bg-black">
            <tr>
                <th scope="col" class="px-6 py-3">
                    
                </th>
                <th scope="col" class="px-6 py-3">
                    節目
                </th>
                <th scope="col" class="px-6 py-3">
                    備註
                </th>
                <th>
                    <%= button_to '新增', new_product_path, method: :get, class: "w-full p-6 bg-blue-200 hover:bg-white" %>
                </th>
                
            </tr>
        </thead>
        <tbody>
        <% if @products.present? %>  
          <% @products.each_with_index do |product, index| %>
            <tr class="border-b">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  <%= index + 1 %>
                </th>
                <td class="px-6 py-4 border text-blue-500">
                    <%= link_to product.name, product.external_link, target: '_blank' %>
                </td>
                <td class="px-6 py-4 text-blue-700">
                    <%= product.description %>
                </td>
                <td class="flex items-center mt-2 p-4">
                    <%= link_to '修改', edit_product_path(product), class: '' %>
                    <%= button_to '刪除', product_path(product), method: "delete", data: { confirm: '確定要刪除嗎?' } %>
                </td>
                <% end %>
            </tr>
        <% else %>
            <p>No podacst</p>
          <% end %>  
        </tbody>
    </table>
</div>

